{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">微信号管理</div>
    <div class="layui-word-aux">复制统计地址：{:url('/index/index/visits', '', '', true)}<br>参数一：wechat - 统计的微信号；参数二：region - 微信号在页面中的区域。<br>例如微信号88888放在页面1区域，该微信被复制时发送请求到{:url('/index/index/visits', 'wechat=88888&region=1', '', true)}</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="table" lay-filter="table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                <a class="layui-btn layui-btn-sm" href="{:url('add')}?linkId={$linkId}">添加微信号</a>
              </div>

            </script>

            <script type="text/html" id="barTool">
                <a href='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs">编辑</a>
                <a href='{:url("delete")}?id={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
            </script>
            <script type="text/html" id="switchTpl">
                <input type="checkbox" name="status" data-href="{:url('setstate')}?id={{d.id}}" value="{{d.id}}" lay-skin="switch" lay-text="上线|下线" lay-filter="switchStatus" {{ d.status==1 ? 'checked' : '' }}>
            </script>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('table', function() {
    var table = layui.table,
        $ = layui.$;
    table.render({
        elem: '#table',
        toolbar: '#toolbarDemo',
        url: "{:url('index')}?linkId={$linkId}",
        cols: [
            [
                { field: 'id', width: 80, title: '序号', sort: true},
                { field: 'number', title: '微信号', sort: true},
                { field: 'remark', title: '备注'},
                { field: 'online_time', title: '最近上线', sort: true },
                { field: 'offline_time', title: '最近下线', sort: true },
                { field: 'visits1', title: '1区复制次数', sort: true },
                { field: 'visits2', title: '2区复制次数', sort: true },
                { field: 'visits3', title: '3区复制次数', sort: true },
                { field: 'status', align: 'center', width: 100, title: '状态', templet: '#switchTpl', unresize: true, sort: true },
                { fixed: 'right', title: '操作', toolbar: '#barTool' }
            ]
        ],
    });
});
</script>
{/block}