{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
	<div class="layui-card-header">添加链接</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">链接</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="link" lay-verify="required" autocomplete="off" placeholder="微信接口链接" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline w300">
                    <textarea  name="remark" lay-verify="required" autocomplete="off" placeholder="备注信息" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属用户</label>
                <div class="layui-input-inline w300">
                    <select name="user" lay-filter="roleid" lay-verify="required">
                        {volist name="userList" id="user"}
                        <option value="{$user['id']}">{$user['nickname']}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="formSubmit">立即提交</button>
                    <button class="layui-btn layui-btn-normal" type="button" onclick="javascript:history.back(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}