{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">编辑链接</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <input type="hidden" name="id" value="{$data.id}" />
            {if($isAdmin === true)}
            <div class="layui-form-item">
                <label class="layui-form-label">所属人</label>
                <div class="layui-input-inline">
                    <select name="user" lay-filter="user" lay-verify="required">
                        {volist name="userList" id="vo"}
                        <option value="{$vo['id']}" {eq name="vo.id" value="$data.user" }selected{/eq}>{$vo['nickname']}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            {/if}
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline w300">
                    <textarea  name="remark" lay-verify="required" autocomplete="off" placeholder="备注信息" class="layui-textarea">{$data.remark}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="formSubmit">立即提交</button>
                    <button class="layui-btn layui-btn-normal" type="button" onclick="javascript:history.back(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}