{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">链接管理</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="table" lay-filter="table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    {if($isAdmin === true)}
                <a class="layui-btn layui-btn-sm" href="{:url('add')}">添加链接</a>
                    {/if}
              </div>
            </script>

            <script type="text/html" id="barTool">
                {if($isAdmin === true)}
                <a href='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs">编辑</a>
                <a href='{:url("delete")}?id={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
                {else /}
                <a href='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs">修改备注</a>
                {/if}
            </script>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('table', function() {
    var table = layui.table,
        $ = layui.$;
    table.render({
        elem: '#table',
        toolbar: '#toolbarDemo',
        url: '{:url("index")}',
        cols: [
            [
                { field: 'id', width: 80, title: '序号', sort: true},
                { field: 'link', title: '链接'},
                { field: 'remark', title: '备注'},
                { field: 'created_time', title: '添加日期' },
                { fixed: 'right', width: 160, title: '操作', toolbar: '#barTool' }
            ]
        ],
    });
});
</script>
{/block}